<mat-nav-list>

    <br>

<h2 matSubheader >à propos de vous</h2>
<mat-divider></mat-divider>

<a mat-list-item routerLinkActive="list-item-active"   routerLink="/" style="color: rgb(92, 90, 90);"><mat-icon> pie_chart</mat-icon>Tableau de bord</a>


<h2 matSubheader >Entitée</h2>
<mat-divider></mat-divider>
<a mat-list-item routerLinkActive="list-item-active"   routerLink="/posts" style="color: rgb(92, 90, 90);"><mat-icon> work_outline</mat-icon>Opportunités</a>
<a mat-list-item routerLinkActive="list-item-active"   routerLink="/posts" style="color: rgb(92, 90, 90);"><mat-icon>contact_mail</mat-icon>Contacts</a>
<a mat-list-item routerLinkActive="list-item-active"   routerLink="/posts" style="color: rgb(92, 90, 90);">	<mat-icon>account_circle</mat-icon>Comptes</a>


</mat-nav-list>