<h2 style="color: rgb(81, 81, 81);">Tableau de bord</h2>
<mat-divider></mat-divider>
<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
    <mat-card fxFlex="25" style="background-color:  #eff6ee; ">
        <app-widget-card label="users" total="18k" percentage="50"></app-widget-card>
        </mat-card>
        <mat-card fxFlex="25" style="background-color: #023f73; color: white;">
            <app-widget-card label="Opportunité" total="1k" percentage="60"></app-widget-card>
            </mat-card>
            <mat-card fxFlex="25" style="background-color: #1a759f; color: white;">
                <app-widget-card label="Contacts" total="50" percentage="10"></app-widget-card>
                </mat-card>
                <mat-card fxFlex="25" style="background-color:#023f73 ;color: aliceblue;">
                    <app-widget-card label="users" total="8k" percentage="50"></app-widget-card>
                    </mat-card>
   
</div>
<br>
<mat-divider>

</mat-divider>
<br>
<div>
    <app-widget-area>
    </app-widget-area>
 </div>
 <br>
